// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_form {
  padding: 40px;
  background: #D2E9FF;
}

.checkbox {
  width: 45%;
  font-size: 110%;
}
